<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>SUPER</title>
 </head>
 <body>
  <h1><%= @team_team_name %></h1>
  <h2>Team Motto: <%= @team_team_motto %></h2>
  <h2>Hero Name: <%= @team_members[0][:name] %></h2>
  <h2>Hero Power: <%= @team_members[0][:power] %></h2>
  <h2>Hero Biography: <%= @team_members[0][:bio] %></h2>
  <h2>Hero Name: <%= @team_members[1][:name] %></h2>
  <h2>Hero Power: <%= @team_members[1][:power] %></h2>
  <h2>Hero Biography: <%= @team_members[1][:bio] %></h2>
  <h2>Hero Name: <%= @team_members[2][:name] %></h2>
  <h2>Hero Power: <%= @team_members[2][:power] %></h2>
  <h2>Hero Biography: <%= @team_members[2][:bio] %></h2>





 </body>
</html>
